{% extends "base.html" %}
{% load static %}
{% load mathfilters %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/see_place.css' %}">

<!-- headeer sectoin -->
{% if see_place %}
<section class="about" id="about">
    <div class="row">
        <div class="image">
            <section class="packages" id="packages">
                <h1 class="heading">
                    {% for i in name %}
                    <span>{{i}}</span>
                    {% endfor %}
                    
                </h1>
            </section>
            <img src="{{ see_place.image.url }}" alt="">
        </div>
        <div class="contenttt">
            <p>{{see_place.description}}</p>
        </div>
    </div>
    <hr>
</section>
{% endif %}
<!-- end header section -->

<section class="packages" id="packages">
<div class="box-container">
     {% for place in dis_place%}
    <div class="box">
        <img src="{{place.image.url}}" alt="">

        <div class="content">
            <h3> <i class="fas fa-map-marker-alt"></i> {{place.District_place_name}} </h3>
            <p>{{place.description}}</p>
            <div class="stars">
                {% with ''|center:place.ratings as emon %}
                    {% for _ in emon %}
                        <i class="fas fa-star"></i>
                    {% endfor %}
                {% endwith %}

                {% with rest=5|sub:place.ratings %}     
                    {% with ''|center:rest as range %}
                        {% for _ in range %}
                            <i class="far fa-star"></i>
                        {% endfor %}
                    {% endwith %}
                {% endwith %}
            </div>
            <div class="price"> {{place.price}} </div>
            
            <a href="{%url 'place_details' place.pk %}" class="btn"> View</a>
        </div>
        
    </div>
    
    {% endfor %}
    </div>
</section>

<script src="{% static 'js/see_place.js' %}"></script>
{% endblock content %}